@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-color: #52575d;
  font-family: 'Fredericka the Great', cursive;
  color: #fddb3a;
}
.figure-container {
  fill: transparent;
  stroke: #fddb3a;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  stroke: #f6f4e6;
  display: none;
}
